<nav class='navbar'>
  <img class='logo' src='../assets/images/book.png' />
  <ul class='nav-links'>
    <li class='nav-item'><a>Home</a></li>
    <li class='nav-item'><a>Book Database</a></li>
    <li class='nav-item'><a>My Books</a></li>
    <li class='nav-item'><a>My Cart</a></li>
    <li class='nav-item'><a>My Profile</a></li>
    <li class='nav-item'><a>Logout</a></li>
  </ul>
</nav>
<div class='main-container'>
  <router-outlet></router-outlet>
</div>
<div class='footer'>
  <img class='logo' src='../assets/images/opus.png' />
  <a class='copy'>2020</a>
</div>